@using static BasketballClub.Service.CustomAuthenticationService;
@inherits AuthComponentBase
@inject NavigationManager nav
@* <nav class="navbar header-navbar p-0"> *@
@* <button class="navbar-toggler bg-primary d-block" @onclick="OnToggleClick">
	<span class="navbar-toggler-icon"></span>
	</button>
	<div class="ms-3 fw-bold title pe-4">BasketballClub</div> *@
@* <CascadingAuthenticationState>
	<AuthorizeView>
		<Authorized>
			<DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Plain" Title="@("Hi, "+userInfo.UserName+"(" + (Roles)userInfo.UserRole + ")")">
				<DxToolbarItem Text="Logout" RenderStyle="ButtonRenderStyle.Danger" Click="(async()=>{await Logout();})" BeginGroup="true" />
			</DxToolbar>
		</Authorized>
		<NotAuthorized>
			<DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Plain">
				<DxToolbarItem Text="Login" RenderStyle="ButtonRenderStyle.Success" Click="Login" BeginGroup="true" />
				<DxToolbarItem Text="Register" RenderStyle="ButtonRenderStyle.Info" Click="Register" BeginGroup="true" />
			</DxToolbar>
		</NotAuthorized>
	</AuthorizeView>
</CascadingAuthenticationState> *@
<CascadingAuthenticationState>
	<div class="card">
		<DxMenu ItemsPosition="ItemPosition.Start" DropDownActionMode="MenuDropDownActionMode.Click">
			<TitleTemplate>
				<DxButton Click="NavToHome" RenderStyle="ButtonRenderStyle.None" Text="TM Basketball" SizeMode="SizeMode.Large"></DxButton>
			</TitleTemplate>
			<Items>
				<AuthorizeView>
					<Authorized>
						<DxMenuItem Text="@("Hi, "+userInfo.UserName+"(" + (Roles)userInfo.UserRole + ")")" IconCssClass="oi oi-person">
							<Items>
								<DxMenuItem Text="Logout" IconCssClass="oi oi-account-logout" Click="(async()=>{await Logout();})" />
							</Items>
						</DxMenuItem>
						<DxMenuItem Text="Game" IconCssClass="oi oi-spreadsheet">
							<Items>
								<DxMenuItem Text="Game Schedule" NavigateUrl="/Schedule" />
							</Items>
						</DxMenuItem>
					</Authorized>

					<NotAuthorized>
						<DxMenuItem Text="Hi, Guest" IconCssClass="oi oi-person">
							<Items>
								<DxMenuItem Text="Login" IconCssClass="oi oi-account-login" NavigateUrl="/Login" />
								<DxMenuItem Text="Register" IconCssClass="oi oi-pencil" NavigateUrl="/Register" />
							</Items>
						</DxMenuItem>
						<DxMenuItem Text="Game" IconCssClass="oi oi-spreadsheet">
							<Items>
								<DxMenuItem Text="Game Schedule" IconCssClass="oi oi-bar-chart" NavigateUrl="/Schedule" />
							</Items>
						</DxMenuItem>
					</NotAuthorized>
				</AuthorizeView>
			</Items>
		</DxMenu>
	</div>
</CascadingAuthenticationState>
@* </nav> *@

@code {
	[Parameter] public bool ToggleOn { get; set; }
	[Parameter] public EventCallback<bool> ToggleOnChanged { get; set; }

	async Task OnToggleClick() => await Toggle();

	async Task Toggle(bool? value = null)
	{
		var newValue = value ?? !ToggleOn;
		if (ToggleOn != newValue)
		{
			ToggleOn = newValue;
			await ToggleOnChanged.InvokeAsync(ToggleOn);
		}
	}

	private async Task Logout()
	{
		if (await UserLogoutAsync())
			nav.NavigateTo("/");
	}
	private void NavToHome()
	{
		nav.NavigateTo("/");
	}


}