<div class="sidebar @StateCssClass">
	@* <CascadingAuthenticationState> *@
	<DxTreeView AllowSelectNodes="true" CssClass="app-sidebar">
		<Nodes>
			<DxTreeViewNode NavigateUrl="./" Text="Overview" CssClass="@rootNodeCssClass"></DxTreeViewNode>
			<DxTreeViewNode NavigateUrl="./Schedule" Text="Schedule" CssClass="@rootNodeCssClass"></DxTreeViewNode>
		</Nodes>
	</DxTreeView>
	@* </CascadingAuthenticationState> *@
</div>

@code {
	const string rootNodeCssClass = "root-item";
	[Parameter] public string? StateCssClass { get; set; }
}